body {
  border: 2px solid rgb(90, 89, 89);
  padding: 10px;
  background-color: rgba(196, 191, 191, 0.404);
}

.itemsNav {
  font-family: monospace;
  padding: 2px 0px 2px;
  font-size: 20px;
}

.formulario {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: cursive;
}

row{
  --bs-gutter-y: 0rem;
  --bs-gutter-x: 0.5rem;
  margin: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.navegacion {
  background-color: rgb(20, 132, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 20px;
  background-position: center;
  image-rendering: optimizeSpeed;
}

.inicioPrincipal {
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

footer {
  background-color: rgb(0, 119, 170);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  color: white;
  margin-right: 5px;
}

.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 119, 170);
}

input {
  background-color: rgb(214, 213, 213);
  margin: 0;
}

.btnGuardar {
  position: relative;
  width: auto;
  align-items: center;
}
.btnGuardar img {
  position: absolute;
  top: 2px;
}

.btnGuardar input {
  display: block;
  width: 40%;
  box-sizing: border-box;
}

.submit,
#btnDelete,
#btnCancelar {
  background-color: rgba(0, 119, 170);
  color: white;
  height: 40px;
  width: 85px;
  vertical-align: top;
}

.submit {
  background-position: left;
  background-size: 15px;
  background-repeat: no-repeat;
  width: 80px;
  text-align: right;
}

table {
  margin: 20px auto;
  width: 100%;
}

table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th {
  width: 100%;
}

thead {
  height: 30px;
}

.oculto {
  display: none;
}
#imagenPrincipal {
  width: -webkit-fill-available;
  align-items: center;
}

.frase {
  background: rgba(66, 142, 172, 0.8);
  height: auto;
}

.frase-texto {
  color: white;
  font-size: 40px;
  justify-content: center;
}

/* NO VISITADO*/
a:link {
  text-decoration: slateblue;
  color: white;
  padding-top: 2px;
}

/* VISITADO*/
a:visited {
  text-decoration: none;
  color: rgb(175, 211, 228);
  margin-top: 10px;
}

/* ACTIVO*/
a:active {
  text-decoration: none;
  color: white;
}

/* POSICIÓN MAUSE*/
a:hover {
  color: rgb(233, 183, 186, 0.8);
  text-decoration: none;
  transform: scale(1.5);
  transition-duration: 400ms;
}

@media screen and (max-width: 500px) {
  .navegacion {
    flex-direction: column;
    height: 160px;
  }

  .itemsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  #imagenPrincipal {
    display: none;
  }
  footer {
    flex-direction: column;
  }

  .divTabla{
    flex-direction: column;
  }

  .fieldsetItems {
    display: flex;
    flex-direction: column;
  }
}
